<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="live">

        <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        </appender>

        <root level="INFO">
            <appender-ref ref="aiAppender"/>
        </root>

    </springProfile>

    <springProfile name="insightconsole">

        <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        </appender>

        <appender name="Console"
                  class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
                </Pattern>
            </layout>
        </appender>

        <root level="INFO">
            <appender-ref ref="aiAppender"/>
            <appender-ref ref="Console" />
        </root>

    </springProfile>

    <springProfile name="consoleonly">

        <appender name="Console"
                  class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
                </Pattern>
            </layout>
        </appender>

        <root level="info">
            <appender-ref ref="Console" />
        </root>

    </springProfile>

</configuration>